build/
/contract/node_modules/
/backend/node_modules/*
!/backend/node_modules/web3*/
/backend/node_modules/web3*/*
!/backend/node_modules/web3*/types/
/backend/node_modules/web3*/types/*
!/backend/node_modules/web3*/types/*.ts
/front/node_modules/
package-lock.json
*.code-workspace
.vscode
copy_ganacheDB/
